@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-slate-900 font-sans antialiased;
}

/* Custom Scrollbar for the list view */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}